<div id="content" class="root">
  To enjoy Jounce Streaming Music Radio, it is necessary to enable JavaScript.<br/>
  Here are some easy-to-follow <a href="http://www.enable-javascript.com/" target="_blank" style="display: inline; text-decoration: underline; color: #417eaf; font-weight: bold;"> instructions on how to enable JavaScript in your web browser</a>.
</div>
